@font-face {
    font-family: 'Abel';
    src: url('./Abel-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bayon';
    src: url('./Bayon-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./Inter-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}