
	.legend-container {
		position: absolute;
		left: 2.5vw;
		top: 82%;
		transform: translateY(-50%);
		font-family: "Inter", sans-serif;

		background-color: #0d1c1bc5;
		padding: 1em 2em;
		border-radius: 10px;
		max-width: 210px;
		height: 190px;
		color: white;
	}

	.legend-container > h3 {
		font-size: 0.9em;
		color: #e1e1e1;
	}

	.legend-item {
		display: flex;
		align-items: center;
		margin-bottom: 0;
	}

	.legend-color {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin-right: 10px;
	}

	.legend-text {
		font-size: 0.75em;
	}